# Set these values locally. Never commit .env.
DO_SPACE_ACCESS_KEY_ID=
DO_SPACE_ENDPOINT=
DO_SPACE_NAME=
DO_SPACE_REGION=
DO_SPACE_SECRET_ACCESS_KEY=
WEBDAV_HOSTNAME=
WEBDAV_LOGIN=
WEBDAV_PASSWORD=
DO_SPACE_PREFIX=
