boto3
python-dotenv
python-docx
PyMuPDF
pytesseract
Pillow
numpy==1.26.4
pandas
scikit-learn
scipy
lxml
torch==2.2.2
torchvision==0.17.2
tqdm
webdavclient3
requests
streamlit
jupyter
ipywidgets
matplotlib
